h1 {
    color: white;
    margin: 0;
}

.heading-text {
    padding-top: .25em;
    padding-right: .85em;
}

div .cyan.darken-4 {
    height: 7.5em;
}

div .teal.lighten-2 {
    height: 1.5em;
}

.settings-btn {
    float: left;
    color: white;
    font-size: 4em;
    padding: .4em .4em;
}
