/*
.circle {
    height: 6.5em;
    width: 6.5em;
    color: white;
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    letter-spacing: .1em;
    background-color: #006064;
    border-color: #4db6ac;
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    -webkit-font-smoothing: antialiased;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}
*/

.dayicon-container {
    display: inline-block;
    height: 8em;
    padding: 2em 2em;
}

.circle-inactive {
    height: 6.5em;
    width: 6.5em;
    color: white;
    font-size: 1em;
    font-weight: 800;
    background-color: #b2dfdb;
    text-align: center;
    letter-spacing: .1em;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

.text-container-inactive {
    padding-top: 1.9em;
    padding-left: .25em;
    cursor: default;
}

.circle-active {
    height: 6.5em;
    width: 6.5em;
    color: white;
    font-size: 1em;
    font-weight: 800;
    background-color: #4db6ac;
    text-align: center;
    letter-spacing: .1em;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

.text-container-active {
    padding-top: 1.9em;
    padding-left: .25em;
    cursor: default;
}
