h1 {
    color: white;
    padding-top: .2em;
    padding-right: .9em;
}

div .cyan.darken-4 {
    height: 7em;
}

div .teal.lighten-2 {
    height: 1.5em;
}

#settings-btn {
    padding: .65em .5em;
    color: white;
    font-size: 3em;
    float: left;
}
